*{
    margin: 0px;
}

body{
    font-family: 'inter';
}

.revirado{
    font-family: "Calligraffitti", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: -55px;
    margin-top: 10px;
}

.botoes_salvos_e_notif{
    margin-right: 20px;
    text-align: right;
}

.botao1{
    height: 25px;
    cursor: pointer;
}

.botao2{
    height: 30px;
    padding-left: 20px;
    cursor: pointer;
}

.linha{
    background-color: #000;
    height: 10px;
    width: 300px;
}

hr{
    border-color:#000;
    box-sizing:border-box;
    width:100%; 
    margin-top: 15px;
    margin-bottom: 15px;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.navbar{
    font-family: "Jaldi", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-left: 20px;
}
    
.navbar a{
    margin-left: 8px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

/* tem que descobrir como sparar mais a foto do nome do usuário */

.usuario{
    text-align: right;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

.usuario h3{
    font-family: "Jaldi", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-top: 3px;
}

.usuario img{
    height: 50px;
    margin-left: 10px;
}

.barra_geral{
    background-color: #E2E2E2;
    width: 100%;
    height: 90px;
    justify-content: space-between;
}

/* tirar a formatação da pesqusia */
.barra_geral input{
    border: none;
    outline: none;
    width: 40%;
    height: 40px;
    margin: 10px;
    margin-right: 0px;
}

.barra_geral button{
    border: none;
    background-color: none;
    cursor: pointer;
    height: 40px;
    margin: 10px;
    margin-left: 0px;
}

#textBusca{
    background-color:transparent;
}

.pesquisa_filtro {
    background-color: #fff;
    width: 50%;
    height: 40px;
}



#formulario {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#titulo {
    text-align: center;
    color: #333;
}
#labels {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}
#inputs, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#botaoUpdate {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.button:hover {
    background: #218838;
}