*{
    margin: 0px;
}


.revirado{
        font-family: "Calligraffitti", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 50px;
        display: flex;
        justify-content: center;
        margin-bottom: -55px;
        margin-top: 10px;
}

.botoes_salvos_e_notif{
    margin-right: 20px;
    text-align: right;
}

.botao1{
    height: 25px;
    cursor: pointer;
}

.botao2{
    height: 30px;
    padding-left: 20px;
    cursor: pointer;
}

.linha{
    background-color: #000;
    height: 10px;
    width: 300px;
}

hr{
    border-color:#000;
    box-sizing:border-box;
    width:100%; 
    margin-top: 15px;
    margin-bottom: 15px;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.navbar{
    font-family: "Jaldi", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-left: 20px;
}
    
.navbar a{
    margin-left: 8px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

/* tem que descobrir como sparar mais a foto do nome do usuário */

.usuario{
    text-align: right;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

.usuario h3{
    font-family: "Jaldi", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-top: 3px;
}

.usuario img{
    height: 50px;
    margin-left: 10px;
}


#textBusca{
    background-color:transparent;
}



h2{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style:normal;
    text-align: center;
    font-size: 30px;
}


footer{
    background-color: #d9d9d9;
    height:120px;
    text-align: center;
}

footer img{
    height: 30px;
    margin-top: 30px;
}

footer p{
    font-family: "Jaldi", sans-serif;
}

/* ---------------------------------------------------- */

#caixa {
    display: flex;
    position: relative;
    width: 95%;
    height: 95%;
    margin: 0 2.5% ;
    padding: 1px;
    border: rgb(211, 210, 210) solid 0.5px;
    flex-wrap: wrap;
}

.picture__img {
    max-width: 100%;
    padding: 0; 
    /*border-radius: 50%;*/
    clip-path: circle(50%);
    justify-content: center;
    align-items: center;
}

label {
    margin-left: 5.5rem ;
    cursor: pointer;
}

#foto{
    order: 1;
    width: 23%;
    height: 23%;
    margin-top: 2.5rem;
    margin-left: 1rem;
    background-color: #f7f5f5;
    border: #333 solid 1px;
    border-radius: 5px;
    cursor: pointer;
}

.aqui_foto{
    width: 10rem;
    height: 10rem;
    background-color: #f7f5f5;
    
}

#caixa2 {
    order: 2;
    display: flex;
    margin: 1rem 2rem ;
    padding: 1px;
    flex-wrap: wrap;
    width: 55rem;
}

p {
    margin-top: 1rem;
    width: 100%;
}

.pa{
    margin-right: 2rem;
    width: 38%;
}

.pe{

    width: 34%;
}

#nome {
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#nome input{
    width: 99%;
}


#email {
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#email input{
    width: 99%;
}

#idade {
    width: 35%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 2rem;
}

#idade input{
    width: 34%;
}

#objetivos1 {
    width: 56.8%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#objetivos1 select{
    width: 34%;
}

#biografia {
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#biografia input{
    width: 99%;
}

hr{
    order: 3;
}

#botoes{
    order: 4;
    width: 100%;
    margin-left: 15%;
}

a {
    color: white ;
    text-decoration: none;
}

.bts {
    display: inline;
    width: 40%;
    background-color: #333;
    color: white;
    margin: 0 1rem;
    padding: 0.7rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

#posts{
    border: rgb(211, 210, 210) solid 0.5px;
    order: 5;
    width: 100%;
    margin-top: 1rem;
    height: 20rem;
}


/* 888888888888888888 */



